.tips {
  padding: 8px 16px;
  color: #A4A4A4;
  font-size: 12px;
}
.panel-box {
  padding: 8px 16px;
  color: #fff;
  font-size: 14px;
  background: #2B2B2B;
  min-height: 300px;
  .select-operate {
    position: relative;
    padding-bottom: 8px;
    border-bottom: 1px solid #424242;
    .no-modify-mask {
      bottom: 8px;
      left: -8px;
      height: calc(100% - 135px);
      width: 100%;
      pointer-events: none;
      position: absolute;
      background: rgba($color: #333, $alpha: 0.6);
      z-index: 1;
    }
  }
  .bottom-line {
    line-height: 36px;
    position: relative;
    &::after {
      content: '';
      height: 1px;
      width: 26px;
      background: #F6B421;
      left: 0px;
      bottom: 0px;
      position: absolute;
    }
    > span {
      color: #A4A4A4;
      font-size: 12px;
      margin-left: 18px;
    }
  }
  .item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    .rename-box {
      margin-bottom: 10px;
    }
    .name {
      height: 36px;
      line-height: 36px;
      width: 200px;
      position: relative;
    }
    input {
      display: inline-block;
      width: 192px;
      height: 36px;
      line-height: 36px;
      padding: 0px 8px;
      background: #333333;
      border-radius: 4px;
      text-align: left;
      box-sizing: border-box;
      outline: none;
      border: none;
      font-size: 14px;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .customize-input {
      margin-left: 10px;
      height: 36px;
      width: 326px;
      box-sizing: border-box;
      border-radius: 4px;
      border: 1px solid #F6B421;
    }
    .item-panel {
      margin-left: 8px;
      padding-left: 16px;
      width: calc(100% - 232px);
      height: 36px;
      line-height: 36px;
      border-radius: 4px;
      background: #333333;
      >input {
        height: 28px;
        line-height: 28px;
        width: 64px;
        margin: 0px 8px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #F6B421;
      }
    }
    .format-panel {
      padding-left: 0px;
    }
  }
  .drop-list {
    height: 36px;
    width: 192px;
  }
  .modify-methods {
    position: relative;
    .no-modify-mask {
      top: 38px;
      left: -8px;
      height: calc(100% - 30px);
      width: 100%;
      pointer-events: none;
      position: absolute;
      background: rgba($color: #333, $alpha: 0.6);
      z-index: 1;
    }
  }
  .no-pointer {
    pointer-events: none;
  }
  .bottom-tips {
    margin-top: 18px;
    >span {
      color: #F6B421;
    }
  }
  .select-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    .select-list {
      width: 50%;
      display: flex;
      align-items: center;
      margin-top: 16px;
      position: relative;
      >span:nth-child(1) {
        display: inline-block;
        width: 24px;
        line-height: 36px;
      }
      >span:nth-child(3){
        margin-left: 8px;
        text-decoration: underline;
        color: #F6B421;
        cursor: pointer;
      }
      .default-span {
        display: inline-block;
        width: 168px;
        height: 36px;
        line-height: 36px;
        border-radius: 4px;
        background: #333333;
        padding: 0px 12px;
      }
    }
  }
  .operate-box {
    display: flex;
    align-items: center;
    .margin-right {
      margin-right: 8px;
    }
    .feature-box {
      width: 192px;
      >span:nth-child(1) {
        display: inline-block;
        width: 100%;
        line-height: 36px;
        text-align: center;
        color: #A4A4A4;
      }
    }
    .cal-box {
      width: 76px;
      >span:nth-child(1) {
        display: inline-block;
        width: 100%;
        line-height: 36px;
        text-align: center;
        color: #A4A4A4;
      }
    }
    .drop-list{
      width: 100%;
    }
    /deep/ {
      .list-panel {
        position: absolute;
        bottom: 36px;
      }
    }
  }
  /deep/ {
    .el-checkbox {
      width: auto;
      background: none;
    }
  }
  .format-list {
    width: 100%;
    /deep/ {
      .list-panel {
        position: absolute;
        bottom: 36px;
      }
    }
  }
}